# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
_dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.lnk
MANIFEST

# PyInstaller
*.manifest
*.spec

# Tests
tests/
tests.py

# Environment
anienv/
.vscode/

# Ui files
*.ui
*.qrc
